@import '../../partials/fonts';
@import '../../partials/mixin';
@import '../../partials/variables';


.navbar{
    width: 100vw;
    background-color: $black;
    display: flex;
    align-items: baseline;;
    
    &__logo{
        width: 10rem;
        margin-left: 5rem;
    }
    &__content{
        display: flex;
        // flex-direction: row;
    }
    p{
        color: goldenrod;
        @include reg; 
    }
    &__logout{
        margin-right: 2rem;;
    }
    &__upload{
        margin-left: 3rem;
        @include tablet{
            margin-left: 12rem;
        }
        @include desktop{
            margin-left: 40rem;
        }
        
    }
    
    
}
.link{
    text-decoration: none;
    &:focus, &:hover, &:visited, &:link, &:active {
        text-decoration: none;
    }
}