body{
    background-color:beige;
}
.container{
   
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    &__card{
        width: 100%;
        max-width: 400px;
    }
}
.cards{
    background-color: rgb(80, 80, 189);
    color: black;
    position: relative;
    // left: 7rem;
}